.nav {
  max-width: 1181px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  display: flex;
  gap: 92px;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 25px;
  color: white;
}
.nav-menu > h3 {
  font-size: 16px;
  font-weight: 400;
}

.nav-end {
  display: flex;
  align-items: center;
  color: white;
}

.contact {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.call {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 25px;
}

.nav-end > button {
  background-color: transparent;
  padding: 12px 14px 12px 18px;
  color: white;
  border-radius: 32px;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  gap: 8px;
  align-items: center;
}
