.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.jakarta {
  font-size: 22px;
  font-weight: 600;
}

.roboto {
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-align: end;
}
