.image-container {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-left: 70px;
  margin-top: 68px;
}

.slider-container {
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .image-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 40px;
    margin-top: 20px;
  }
}
